* {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
}

header {
  box-shadow: 5px 5px 5px #ddd;
  height: 2.5rem;
}

header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  list-style-type: none;
  padding-top: 0.6rem;
}

header ul li a {
  text-decoration: none;
  color: #060d30;
}

header ul li a span {
  font-size: 2.5rem;
}

/* Footer Styles */

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 5px -5px 5px #ddd;
}

.copyright {
  margin: 0 auto;
}

.copyright span {
  font-size: 1.2rem;
  font-weight: bolder;
}
