* {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
}

header {
  box-shadow: 5px 5px 5px #ddd;
  height: 2.5rem;
}

header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  list-style-type: none;
  padding-top: 0.6rem;
}

header ul li a {
  text-decoration: none;
  color: #060d30;
}

header ul li a span {
  font-size: 2.5rem;
}

/* Footer Styles */

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 5px -5px 5px #ddd;
}

.copyright {
  margin: 0 auto;
  padding: 0.5rem 1rem;
  text-align: center;
}

.copyright span {
  font-size: 1.2rem;
  font-weight: bolder;
}

/* Comment Display Styles */

.modal-container {
  position: absolute;
  left: 0;
  top: 0;
  background: #ffffff50;
  justify-content: center;
  align-items: center;
  border: none;
}

.modal-content {
  border: none;
  border-radius: 15px;
  background: #99999920;
  width: 80%;
  position: relative;
  padding: 1rem;
  margin: 3% auto;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
}

.close {
  vertical-align: middle;
  border: none;
  border-radius: 50%;
  background: #ffffff50;
  position: absolute;
  width: 42px;
  height: 42px;
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
  top: 2%;
  right: 2%;
}

.close:focus,
.close:hover {
  opacity: 1;
  background: #ffffff80;
  transform: rotate(90deg);
}

.close:active {
  background: rgba(128, 128, 128, 0.9);
}

.close::before,
.close::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30px;
  width: 6px;
  background-color: #000;
}

.close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.image-container {
  /* width: 100%; */

  /* height: 80%; */

  /* border: 1px solid #ccc; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen-image {
  width: 100%;
  border-radius: 20px;

  /* height: 100%; */
  object-fit: contain;
}

.meal-title {
  text-align: center;
}

.details {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  padding: 0 2rem;
}

.sub-title,
.add-comment-title {
  font-weight: bolder;
  font-size: 1.2em;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.left {
  gap: 0.5rem;
}

.tag-title,
.add-comment-title {
  text-align: center;
}

.tags {
  padding: 0;
  margin: 0 auto;
}

.tags li {
  list-style: square;
}

.tags li::marker {
  font-size: 1.3rem;
}

.comments {
  padding: 1rem 2rem;
  gap: 1rem;
}

.comment {
  gap: 0.5rem;
  box-shadow: 0 0 10px rgba(200, 200, 200, 0.5);
  border-radius: 10px;
  padding: 0.5rem;
  background: #44444420;
}

.comment-header {
  font-weight: bold;
}

#add-comment {
  min-width: 250px;
  width: 50%;
  margin: 0 auto;
  gap: 0.5rem;
  padding: 0.5rem;
}

.input {
  width: 90%;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  background: #44444430;
  font-weight: 600;
  font-family: arial, sans-serif;
  font-size: 1.1rem;
  color: #000;
}

.insight {
  height: 60px;
}

.input:focus {
  outline: none;
}

.comment-btn {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  background: #44444450;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.comment-btn:hover {
  background: #fff;
  color: #000;
  font-weight: bolder;
}

@media (max-width: 1000px) {
  .modal-content {
    grid-template-columns: 2fr 1fr;
  }

  .detail-wrapper {
    height: 500px;
    overflow-y: scroll;

    /* scrollbar-color: rebeccapurple green; */

    /* scrollbar-width: thin; */
  }

  .details {
    grid-template-columns: 1fr;
  }

  .tag-title {
    text-align: left;
  }

  .tags {
    padding: 0.5rem 0;
  }
}

@media (max-width: 768px) {
  .modal-content {
    display: flex;
    flex-direction: column;
  }

  .details {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    padding: 0 2rem;
  }
}

@media (max-width: 414px) {
  .details {
    grid-template-columns: 1fr;
  }

  .tag-title {
    text-align: left;
  }

  .tags {
    padding: 0.5rem 0;
  }
}
